page,
#app,
#root {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei',
    'Avenir',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-thin {
  font-weight: 100;
}

.text-extra-light,
.text-ultra-light {
  font-weight: 200;
}

.text-light {
  font-weight: 300;
}

.text-regular,
.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semi-bold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-extra-bold,
.text-ultra-bold {
  font-weight: 800;
}

.text-black,
.text-heavy {
  font-weight: 900;
}

.text-12 {
  font-size: 24rpx;
  line-height: 40rpx;
}

.text-13 {
  font-size: 26rpx;
  line-height: 42rpx;
}

.text-14 {
  font-size: 28rpx;
  line-height: 44rpx;
}

.text-15 {
  font-size: 30rpx;
  line-height: 46rpx;
}

.text-16 {
  font-size: 32rpx;
  line-height: 48rpx;
}

.text-17 {
  font-size: 34rpx;
  line-height: 50rpx;
}

.text-18 {
  font-size: 36rpx;
  line-height: 52rpx;
}

.text-19 {
  font-size: 38rpx;
  line-height: 54rpx;
}

.text-20 {
  font-size: 40rpx;
  line-height: 56rpx;
}

.text-21 {
  font-size: 42rpx;
  line-height: 58rpx;
}

.text-22 {
  font-size: 44rpx;
  line-height: 60rpx;
}

.text-23 {
  font-size: 46rpx;
  line-height: 62rpx;
}

.text-24 {
  font-size: 48rpx;
  line-height: 64rpx;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
