/*
 * import normalize.css first and use autoprefixer
 * use default layout and container of the ui lib
 * 先引入 normalize.css，并且使用 autoprefixer
 * 使用 UI 库中默认的布局与容器
 */

// use border-box style
// 使用 border-box 样式
* {
  box-sizing: border-box;
}

// scroll bar style
// 滚动条样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
  border-radius: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
  border-radius: 8px;
  background-color: #555;
}

// set default width
// 设置默认宽度
html,
body,
#app,
#root {
  width: 100%;
}

// overflow
.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow: hidden auto;
}

.overflow-y-hidden {
  overflow: auto hidden;
}

.overflow-x-auto {
  overflow: auto hidden;
}

.overflow-y-auto {
  overflow: hidden auto;
}
