/* stylelint-disable selector-max-id */

@import "./vars.scss";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 8px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
}

html,
body,
#app,
#root {
  width: 100%;
  color: $textMainColor;
}

.item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
}

.row-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.col-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.center-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-auto {
  box-sizing: border-box;
  display: flex;
  flex: auto;
}

.flex-none {
  box-sizing: border-box;
  display: flex;
  flex: none;
}

.flex-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row !important;
}

.flex-col {
  box-sizing: border-box;
  display: flex;
  flex-direction: column !important;
}

.flex-nowrap {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap !important;
}

.flex-wrap {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap !important;
}

.align-content-center {
  box-sizing: border-box;
  display: flex;
  align-content: center !important;
}

.align-content-start {
  box-sizing: border-box;
  display: flex;
  align-content: flex-start !important;
}

.align-content-end {
  box-sizing: border-box;
  display: flex;
  align-content: flex-end !important;
}

.align-content-space-around {
  box-sizing: border-box;
  display: flex;
  align-content: space-around !important;
}

.align-content-space-between {
  box-sizing: border-box;
  display: flex;
  align-content: space-between !important;
}

.align-content-stretch {
  box-sizing: border-box;
  display: flex;
  align-content: stretch !important;
}

.align-items-center {
  box-sizing: border-box;
  display: flex;
  align-items: center !important;
}

.align-items-start {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start !important;
}

.align-items-end {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end !important;
}

.align-items-stretch {
  box-sizing: border-box;
  display: flex;
  align-items: stretch !important;
}

.align-self-auto {
  box-sizing: border-box;
  display: flex;
  align-self: auto !important;
}

.align-self-center {
  box-sizing: border-box;
  display: flex;
  align-self: center !important;
}

.align-self-start {
  box-sizing: border-box;
  display: flex;
  align-self: flex-start !important;
}

.align-self-end {
  box-sizing: border-box;
  display: flex;
  align-self: flex-end !important;
}

.align-self-stretch {
  box-sizing: border-box;
  display: flex;
  align-self: stretch !important;
}

.justify-content-center {
  box-sizing: border-box;
  display: flex;
  justify-content: center !important;
}

.justify-content-start {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start !important;
}

.justify-content-end {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end !important;
}

.justify-content-space-around {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around !important;
}

.justify-content-space-between {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between !important;
}

.justify-content-space-evenly {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly !important;
}

.overflow-hidden {
  box-sizing: border-box;
  overflow: hidden;
}

.overflow-auto {
  box-sizing: border-box;
  overflow: auto;
}

.overflow-x-hidden {
  box-sizing: border-box;
  overflow: hidden auto;
}

.overflow-y-hidden {
  box-sizing: border-box;
  overflow: auto hidden;
}

.overflow-x-auto {
  box-sizing: border-box;
  overflow: auto hidden;
}

.overflow-y-auto {
  box-sizing: border-box;
  overflow: hidden auto;
}

/* typography */
@font-face {
  font-family: Alibaba-PuHuiTi;
  src: url("~@modyqyw/css-styles/assets/fonts/Alibaba-PuHuiTi-Regular.ttf");
}

@font-face {
  font-family: AlibabaSans;
  src: url("~@modyqyw/css-styles/assets/fonts/AlibabaSans-Regular.otf");
}

#app,
#root {
  /* stylelint-disable value-list-comma-newline-after, value-list-comma-space-after */
  font-family:
    Alibaba-PuHuiTi-Regular, AlibabaSans-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", Avenir, "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  /* stylelint-enable value-list-comma-newline-after, value-list-comma-space-after */
  font-size: 14px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-thin {
  font-weight: 100;
}

.text-extra-light,
.text-ultra-light {
  font-weight: 200;
}

.text-light {
  font-weight: 300;
}

.text-regular,
.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semi-bold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-extra-bold,
.text-ultra-bold {
  font-weight: 800;
}

.text-black,
.text-heavy {
  font-weight: 900;
}

.text-12 {
  font-size: 12px;
  line-height: 20px;
}

.text-13 {
  font-size: 13px;
  line-height: 21px;
}

.text-14 {
  font-size: 14px;
  line-height: 22px;
}

.text-15 {
  font-size: 15px;
  line-height: 23px;
}

.text-16 {
  font-size: 16px;
  line-height: 24px;
}

.text-17 {
  font-size: 17px;
  line-height: 25px;
}

.text-18 {
  font-size: 18px;
  line-height: 26px;
}

.text-19 {
  font-size: 19px;
  line-height: 27px;
}

.text-20 {
  font-size: 20px;
  line-height: 28px;
}

.text-21 {
  font-size: 21px;
  line-height: 29px;
}

.text-22 {
  font-size: 22px;
  line-height: 30px;
}

.text-23 {
  font-size: 23px;
  line-height: 31px;
}

.text-24 {
  font-size: 24px;
  line-height: 32px;
}

.text-25 {
  font-size: 25px;
  line-height: 33px;
}

.text-26 {
  font-size: 26px;
  line-height: 34px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-italic {
  font-style: italic;
}

.text-disabled {
  color: $textDisabledColor;
}

.text-title {
  font-size: 18px;
  line-height: 26px;
  color: $textTitleColor;
}

.text-title-light {
  font-size: 16px;
  line-height: 24px;
  color: $textTitleLightColor;
}

.text-main {
  font-size: 14px;
  line-height: 22px;
  color: $textMainColor;
}

.text-main-light {
  font-size: 13px;
  line-height: 21px;
  color: $textMainLightColor;
}

.text-secondary {
  font-size: 12px;
  line-height: 20px;
  color: $textSecondaryColor;
}
