/* preset common colors */
$black: #000 !default;
$white: #FFF !default;
$transparent: transparent !default;

/* preset material design colors */
// red
$mdRed: #F44336 !default; // error / danger
$mdRed50: #FFEBEE !default;
$mdRed100: #FFCDD2 !default;
$mdRed200: #EF9A9A !default;
$mdRed300: #E57373 !default;
$mdRed400: #EF5350 !default;
$mdRed500: #F44336 !default; // error / danger
$mdRed600: #E53935 !default;
$mdRed700: #D32F2F !default;
$mdRed800: #C62828 !default;
$mdRed900: #B71C1C !default;
$mdRedA100: #FF8A80 !default;
$mdRedA200: #FF5252 !default;
$mdRedA400: #FF1744 !default;
$mdRedA700: #D50000 !default;
// pink
$mdPink: #E91E63 !default;
$mdPink50: #FCE4EC !default;
$mdPink100: #F8BBD0 !default;
$mdPink200: #F48FB1 !default;
$mdPink300: #F06292 !default;
$mdPink400: #EC407A !default;
$mdPink500: #E91E63 !default;
$mdPink600: #D81B60 !default;
$mdPink700: #C2185B !default;
$mdPink800: #AD1457 !default;
$mdPink900: #880E4F !default;
$mdPinkA100: #FF80AB !default;
$mdPinkA200: #FF4081 !default;
$mdPinkA400: #F50057 !default;
$mdPinkA700: #C51162 !default;
// purple
$mdPurple: #9C27B0 !default;
$mdPurple50: #F3E5F5 !default;
$mdPurple100: #E1BEE7 !default;
$mdPurple200: #CE93D8 !default;
$mdPurple300: #BA68C8 !default;
$mdPurple400: #AB47BC !default;
$mdPurple500: #9C27B0 !default;
$mdPurple600: #8E24AA !default;
$mdPurple700: #7B1FA2 !default;
$mdPurple800: #6A1B9A !default;
$mdPurple900: #4A148C !default;
$mdPurpleA100: #EA80FC !default;
$mdPurpleA200: #E040FB !default;
$mdPurpleA400: #D500F9 !default;
$mdPurpleA700: #A0F !default;
// deep purple
$mdDeepPurple: #673AB7 !default;
$mdDeepPurple50: #EDE7F6 !default;
$mdDeepPurple100: #D1C4E9 !default;
$mdDeepPurple200: #B39DDB !default;
$mdDeepPurple300: #9575CD !default;
$mdDeepPurple400: #7E57C2 !default;
$mdDeepPurple500: #673AB7 !default;
$mdDeepPurple600: #5E35B1 !default;
$mdDeepPurple700: #512DA8 !default;
$mdDeepPurple800: #4527A0 !default;
$mdDeepPurple900: #311B92 !default;
$mdDeepPurpleA100: #B388FF !default;
$mdDeepPurpleA200: #7C4DFF !default;
$mdDeepPurpleA400: #651FFF !default;
$mdDeepPurpleA700: #6200EA !default;
// indigo
$mdIndigo: #3F51B5 !default;
$mdIndigo50: #E8EAF6 !default;
$mdIndigo100: #C5CAE9 !default;
$mdIndigo200: #9FA8DA !default;
$mdIndigo300: #7986CB !default;
$mdIndigo400: #5C6BC0 !default;
$mdIndigo500: #3F51B5 !default;
$mdIndigo600: #3949AB !default;
$mdIndigo700: #303F9F !default;
$mdIndigo800: #283593 !default;
$mdIndigo900: #1A237E !default;
$mdIndigoA100: #8C9EFF !default;
$mdIndigoA200: #536DFE !default;
$mdIndigoA400: #3D5AFE !default;
$mdIndigoA700: #304FFE !default;
// blue
$mdBlue: #2196F3 !default; // primary
$mdBlue50: #E3F2FD !default;
$mdBlue100: #BBDEFB !default;
$mdBlue200: #90CAF9 !default;
$mdBlue300: #64B5F6 !default;
$mdBlue400: #42A5F5 !default;
$mdBlue500: #2196F3 !default; // primary
$mdBlue600: #1E88E5 !default;
$mdBlue700: #1976D2 !default;
$mdBlue800: #1565C0 !default;
$mdBlue900: #0D47A1 !default;
$mdBlueA100: #82B1FF !default;
$mdBlueA200: #448AFF !default;
$mdBlueA400: #2979FF !default;
$mdBlueA700: #2962FF !default;
// light blue
$mdLightBlue: #03A9F4 !default;
$mdLightBlue50: #E1F5FE !default;
$mdLightBlue100: #B3E5FC !default;
$mdLightBlue200: #81D4FA !default;
$mdLightBlue300: #4FC3F7 !default;
$mdLightBlue400: #29B6F6 !default;
$mdLightBlue500: #03A9F4 !default;
$mdLightBlue600: #039BE5 !default;
$mdLightBlue700: #0288D1 !default;
$mdLightBlue800: #0277BD !default;
$mdLightBlue900: #01579B !default;
$mdLightBlueA100: #80D8FF !default;
$mdLightBlueA200: #40C4FF !default;
$mdLightBlueA400: #00B0FF !default;
$mdLightBlueA700: #0091EA !default;
// cyan
$mdCyan: #00BCD4 !default;
$mdCyan50: #E0F7FA !default;
$mdCyan100: #B2EBF2 !default;
$mdCyan200: #80DEEA !default;
$mdCyan300: #4DD0E1 !default;
$mdCyan400: #26C6DA !default;
$mdCyan500: #00BCD4 !default;
$mdCyan600: #00ACC1 !default;
$mdCyan700: #0097A7 !default;
$mdCyan800: #00838F !default;
$mdCyan900: #006064 !default;
$mdCyanA100: #84FFFF !default;
$mdCyanA200: #18FFFF !default;
$mdCyanA400: #00E5FF !default;
$mdCyanA700: #00B8D4 !default;
// teal
$mdTeal: #009688 !default;
$mdTeal50: #E0F2F1 !default;
$mdTeal100: #B2DFDB !default;
$mdTeal200: #80CBC4 !default;
$mdTeal300: #4DB6AC !default;
$mdTeal400: #26A69A !default;
$mdTeal500: #009688 !default;
$mdTeal600: #00897B !default;
$mdTeal700: #00796B !default;
$mdTeal800: #00695C !default;
$mdTeal900: #004D40 !default;
$mdTealA100: #A7FFEB !default;
$mdTealA200: #64FFDA !default;
$mdTealA400: #1DE9B6 !default;
$mdTealA700: #00BFA5 !default;
// green
$mdGreen: #4CAF50 !default; // success
$mdGreen50: #E8F5E9 !default;
$mdGreen100: #C8E6C9 !default;
$mdGreen200: #A5D6A7 !default;
$mdGreen300: #81C784 !default;
$mdGreen400: #66BB6A !default;
$mdGreen500: #4CAF50 !default; // success
$mdGreen600: #43A047 !default;
$mdGreen700: #388E3C !default;
$mdGreen800: #2E7D32 !default;
$mdGreen900: #1B5E20 !default;
$mdGreenA100: #B9F6CA !default;
$mdGreenA200: #69F0AE !default;
$mdGreenA400: #00E676 !default;
$mdGreenA700: #00C853 !default;
// light green
$mdLightGreen: #8BC34A !default;
$mdLightGreen50: #F1F8E9 !default;
$mdLightGreen100: #DCEDC8 !default;
$mdLightGreen200: #C5E1A5 !default;
$mdLightGreen300: #AED581 !default;
$mdLightGreen400: #9CCC65 !default;
$mdLightGreen500: #8BC34A !default;
$mdLightGreen600: #7CB342 !default;
$mdLightGreen700: #689F38 !default;
$mdLightGreen800: #558B2F !default;
$mdLightGreen900: #33691E !default;
$mdLightGreenA100: #CCFF90 !default;
$mdLightGreenA200: #B2FF59 !default;
$mdLightGreenA400: #76FF03 !default;
$mdLightGreenA700: #64DD17 !default;
// lime
$mdLime: #CDDC39 !default;
$mdLime50: #F9FBE7 !default;
$mdLime100: #F0F4C3 !default;
$mdLime200: #E6EE9C !default;
$mdLime300: #DCE775 !default;
$mdLime400: #D4E157 !default;
$mdLime500: #CDDC39 !default;
$mdLime600: #C0CA33 !default;
$mdLime700: #AFB42B !default;
$mdLime800: #9E9D24 !default;
$mdLime900: #827717 !default;
$mdLimeA100: #F4FF81 !default;
$mdLimeA200: #EEFF41 !default;
$mdLimeA400: #C6FF00 !default;
$mdLimeA700: #AEEA00 !default;
// yellow
$mdYellow: #FFEB3B !default; // warning
$mdYellow50: #FFFDE7 !default;
$mdYellow100: #FFF9C4 !default;
$mdYellow200: #FFF59D !default;
$mdYellow300: #FFF176 !default;
$mdYellow400: #FFEE58 !default;
$mdYellow500: #FFEB3B !default; // warning
$mdYellow600: #FDD835 !default;
$mdYellow700: #FBC02D !default;
$mdYellow800: #F9A825 !default;
$mdYellow900: #F57F17 !default;
$mdYellowA100: #FFFF8D !default;
$mdYellowA200: #FF0 !default;
$mdYellowA400: #FFEA00 !default;
$mdYellowA700: #FFD600 !default;
// amber
$mdAmber: #FFC107 !default;
$mdAmber50: #FFF8E1 !default;
$mdAmber100: #FFECB3 !default;
$mdAmber200: #FFE082 !default;
$mdAmber300: #FFD54F !default;
$mdAmber400: #FFCA28 !default;
$mdAmber500: #FFC107 !default;
$mdAmber600: #FFB300 !default;
$mdAmber700: #FFA000 !default;
$mdAmber800: #FF8F00 !default;
$mdAmber900: #FF6F00 !default;
$mdAmberA100: #FFE57F !default;
$mdAmberA200: #FFD740 !default;
$mdAmberA400: #FFC400 !default;
$mdAmberA700: #FFAB00 !default;
// orange
$mdOrange: #FF9800 !default;
$mdOrange50: #FFF3E0 !default;
$mdOrange100: #FFE0B2 !default;
$mdOrange200: #FFCC80 !default;
$mdOrange300: #FFB74D !default;
$mdOrange400: #FFA726 !default;
$mdOrange500: #FF9800 !default;
$mdOrange600: #FB8C00 !default;
$mdOrange700: #F57C00 !default;
$mdOrange800: #EF6C00 !default;
$mdOrange900: #E65100 !default;
$mdOrangeA100: #FFD180 !default;
$mdOrangeA200: #FFAB40 !default;
$mdOrangeA400: #FF9100 !default;
$mdOrangeA700: #FF6D00 !default;
// deep orange
$mdDeepOrange: #FF5722 !default;
$mdDeepOrange50: #FBE9E7 !default;
$mdDeepOrange100: #FFCCBC !default;
$mdDeepOrange200: #FFAB91 !default;
$mdDeepOrange300: #FF8A65 !default;
$mdDeepOrange400: #FF7043 !default;
$mdDeepOrange500: #FF5722 !default;
$mdDeepOrange600: #F4511E !default;
$mdDeepOrange700: #E64A19 !default;
$mdDeepOrange800: #D84315 !default;
$mdDeepOrange900: #BF360C !default;
$mdDeepOrangeA100: #FF9E80 !default;
$mdDeepOrangeA200: #FF6E40 !default;
$mdDeepOrangeA400: #FF3D00 !default;
$mdDeepOrangeA700: #DD2C00 !default;
// brown
$mdBrown: #795548 !default;
$mdBrown50: #EFEBE9 !default;
$mdBrown100: #D7CCC8 !default;
$mdBrown200: #BCAAA4 !default;
$mdBrown300: #A1887F !default;
$mdBrown400: #8D6E63 !default;
$mdBrown500: #795548 !default;
$mdBrown600: #6D4C41 !default;
$mdBrown700: #5D4037 !default;
$mdBrown800: #4E342E !default;
$mdBrown900: #3E2723 !default;
// gray
$mdGray: #9E9E9E !default;
$mdGray50: #FAFAFA !default;
$mdGray100: #F5F5F5 !default;
$mdGray200: #EEE !default;
$mdGray300: #E0E0E0 !default;
$mdGray400: #BDBDBD !default;
$mdGray500: #9E9E9E !default;
$mdGray600: #757575 !default;
$mdGray700: #616161 !default;
$mdGray800: #424242 !default;
$mdGray900: #212121 !default;
// blue gray
$mdBlueGray: #607D8B !default;
$mdBlueGray50: #ECEFF1 !default;
$mdBlueGray100: #CFD8DC !default;
$mdBlueGray200: #B0BEC5 !default;
$mdBlueGray300: #90A4AE !default;
$mdBlueGray400: #78909C !default;
$mdBlueGray500: #607D8B !default;
$mdBlueGray600: #546E7A !default;
$mdBlueGray700: #455A64 !default;
$mdBlueGray800: #37474F !default;
$mdBlueGray900: #263238 !default;
// grey
$mdGrey: #9E9E9E !default;
$mdGrey50: #FAFAFA !default;
$mdGrey100: #F5F5F5 !default;
$mdGrey200: #EEE !default;
$mdGrey300: #E0E0E0 !default;
$mdGrey400: #BDBDBD !default;
$mdGrey500: #9E9E9E !default;
$mdGrey600: #757575 !default;
$mdGrey700: #616161 !default;
$mdGrey800: #424242 !default;
$mdGrey900: #212121 !default;
// blue grey
$mdBlueGrey: #607D8B !default;
$mdBlueGrey50: #ECEFF1 !default;
$mdBlueGrey100: #CFD8DC !default;
$mdBlueGrey200: #B0BEC5 !default;
$mdBlueGrey300: #90A4AE !default;
$mdBlueGrey400: #78909C !default;
$mdBlueGrey500: #607D8B !default;
$mdBlueGrey600: #546E7A !default;
$mdBlueGrey700: #455A64 !default;
$mdBlueGrey800: #37474F !default;
$mdBlueGrey900: #263238 !default;

/* preset ant design colors */
// red
$adRed: #F5222D !default; // error / danger
$adRed1: #FFF1F0 !default;
$adRed2: #FFCCC7 !default;
$adRed3: #FFA39E !default;
$adRed4: #FF7875 !default;
$adRed5: #FF4D4F !default;
$adRed6: #F5222D !default; // error / danger
$adRed7: #CF1322 !default;
$adRed8: #A8071A !default;
$adRed9: #820014 !default;
$adRed10: #5C0011 !default;
// volcano
$adVolcano: #FF7A45 !default;
$adVolcano1: #FFF2E8 !default;
$adVolcano2: #FFD8BF !default;
$adVolcano3: #FFBB96 !default;
$adVolcano4: #FF9C6E !default;
$adVolcano5: #FF7A45 !default;
$adVolcano6: #FA541C !default;
$adVolcano7: #D4380D !default;
$adVolcano8: #AD2102 !default;
$adVolcano9: #871400 !default;
$adVolcano10: #610B00 !default;
// orange
$adOrange: #FA8C16 !default;
$adOrange1: #FFF7E6 !default;
$adOrange2: #FFE7BA !default;
$adOrange3: #FFD591 !default;
$adOrange4: #FFC069 !default;
$adOrange5: #FFA940 !default;
$adOrange6: #FA8C16 !default;
$adOrange7: #D46B08 !default;
$adOrange8: #AD4E00 !default;
$adOrange9: #873800 !default;
$adOrange10: #612500 !default;
// gold
$adGold: #FAAD14 !default; // warning
$adGold1: #FFFBE6 !default;
$adGold2: #FFF1B8 !default;
$adGold3: #FFE58F !default;
$adGold4: #FFD666 !default;
$adGold5: #FFC53D !default;
$adGold6: #FAAD14 !default; // warning
$adGold7: #D48806 !default;
$adGold8: #AD6800 !default;
$adGold9: #874D00 !default;
$adGold10: #613400 !default;
// yellow
$adYellow: #FADB14 !default;
$adYellow1: #FEFFE6 !default;
$adYellow2: #FFFFB8 !default;
$adYellow3: #FFFB8F !default;
$adYellow4: #FFF566 !default;
$adYellow5: #FFEC3D !default;
$adYellow6: #FADB14 !default;
$adYellow7: #D4B106 !default;
$adYellow8: #AD8B00 !default;
$adYellow9: #876800 !default;
$adYellow10: #614700 !default;
// lime
$adLime: #A0D911 !default;
$adLime1: #FCFFE6 !default;
$adLime2: #F4FFB8 !default;
$adLime3: #EAFF8F !default;
$adLime4: #D3F261 !default;
$adLime5: #BAE637 !default;
$adLime6: #A0D911 !default;
$adLime7: #7CB305 !default;
$adLime8: #5B8C00 !default;
$adLime9: #3F6600 !default;
$adLime10: #254000 !default;
// green
$adGreen: #52C41A !default; // success
$adGreen1: #F6FFED !default;
$adGreen2: #D9F7BE !default;
$adGreen3: #B7EB8F !default;
$adGreen4: #95DE64 !default;
$adGreen5: #73D13D !default;
$adGreen6: #52C41A !default; // success
$adGreen7: #389E0D !default;
$adGreen8: #237804 !default;
$adGreen9: #135200 !default;
$adGreen10: #092B00 !default;
// cyan
$adCyan: #13C2C2 !default;
$adCyan1: #E6FFFB !default;
$adCyan2: #B5F5EC !default;
$adCyan3: #87E8DE !default;
$adCyan4: #5CDBD3 !default;
$adCyan5: #36CFC9 !default;
$adCyan6: #13C2C2 !default;
$adCyan7: #08979C !default;
$adCyan8: #006D75 !default;
$adCyan9: #00474F !default;
$adCyan10: #002329 !default;
// blue
$adBlue: #1890FF !default; // primary
$adBlue1: #E6F7FF !default;
$adBlue2: #BAE7FF !default;
$adBlue3: #91D5FF !default;
$adBlue4: #69C0FF !default;
$adBlue5: #40A9FF !default;
$adBlue6: #1890FF !default; // primary
$adBlue7: #096DD9 !default;
$adBlue8: #0050B3 !default;
$adBlue9: #003A8C !default;
$adBlue10: #002766 !default;
// geek blue
$adGeekBlue: #2F54EB !default;
$adGeekBlue1: #F0F5FF !default;
$adGeekBlue2: #D6E4FF !default;
$adGeekBlue3: #ADC6FF !default;
$adGeekBlue4: #85A5FF !default;
$adGeekBlue5: #597EF7 !default;
$adGeekBlue6: #2F54EB !default;
$adGeekBlue7: #1D39C4 !default;
$adGeekBlue8: #10239E !default;
$adGeekBlue9: #061178 !default;
$adGeekBlue10: #030852 !default;
// purple
$adPurple: #722ED1 !default;
$adPurple1: #F9F0FF !default;
$adPurple2: #EFDBFF !default;
$adPurple3: #D3ADF7 !default;
$adPurple4: #B37FEB !default;
$adPurple5: #9254DE !default;
$adPurple6: #722ED1 !default;
$adPurple7: #531DAB !default;
$adPurple8: #391085 !default;
$adPurple9: #22075E !default;
$adPurple10: #120338 !default;
// magenta
$adMagenta: #EB2F96 !default;
$adMagenta1: #FFF0F6 !default;
$adMagenta2: #FFD6E7 !default;
$adMagenta3: #FFADD2 !default;
$adMagenta4: #FF85C0 !default;
$adMagenta5: #F759AB !default;
$adMagenta6: #EB2F96 !default;
$adMagenta7: #C41D7F !default;
$adMagenta8: #9E1068 !default;
$adMagenta9: #780650 !default;
$adMagenta10: #520339 !default;
// gray
$adGray: #BFBFBF !default;
$adGray1: #FFF !default;
$adGray2: #FAFAFA !default;
$adGray3: #F5F5F5 !default;
$adGray4: #E8E8E8 !default;
$adGray5: #D9D9D9 !default; // border
$adGray6: #BFBFBF !default;
$adGray7: #8C8C8C !default;
$adGray8: #595959 !default;
$adGray9: #262626 !default;
$adGray10: #000 !default;
// grey
$adGrey: #BFBFBF !default;
$adGrey1: #FFF !default;
$adGrey2: #FAFAFA !default;
$adGrey3: #F5F5F5 !default;
$adGrey4: #E8E8E8 !default;
$adGrey5: #D9D9D9 !default; // border
$adGrey6: #BFBFBF !default;
$adGrey7: #8C8C8C !default;
$adGrey8: #595959 !default;
$adGrey9: #262626 !default;
$adGrey10: #000 !default;

/* project preset */
$textTitleColor: rgba(0, 0, 0, .85) !default;
$textTitleLightColor: rgba(0, 0, 0, .75) !default;
$textMainColor: rgba(0, 0, 0, .65) !default;
$textMainLightColor: rgba(0, 0, 0, .55) !default;
$textSecondaryColor: rgba(0, 0, 0, .45) !default;
$textDisabledColor: rgba(0, 0, 0, .25) !default;
$shadowColor: rgba(0, 0, 0, .6) !default;
$borderColor: #D9D9D9 !default;
